.servicios{
    background-color: lightcoral;
    padding: 20px;
    .row-titulo{
        background-color: rgb(255, 215, 215);
        text-align: center;
    }
    .titulo-servicios{
        .titulo-unas{
            text-align: center;
            .img-pad{
                padding: 20px;
            }
        }
    }      
}
