.nosotros{
    background-color: lightsalmon;
    justify-content: center;
    text-align: center;
    color: white;
    padding: 20px;
    .nosotros-img-txt{
        align-items: center;
    }
    .titulo-nosotros{
        justify-content: center;
    }
    .hitos{
        justify-content: center;
        .card-nosotros{
            padding: 10px;
        } 
    }    
}



