.ubicacion{
    padding: 30px;
    background-color: aquamarine;
    .center{
        text-align: center;
        align-items: center;
        align-content: center;
        justify-content: center;
    }
}
