.footer{
    padding: 20px;
    background-color: lightskyblue;
    .rrss-titulo{
        text-align: center;
        padding-bottom: 10px;
        color: white;
    }
    .rrss-img{
        text-align: center;
    }
}

